.listing-type, .venda {
  i {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 0.3rem;
    font-size: 1rem;
    //font-family: "Nunito Sans",sans-serif!important;

    &.buy {
      background-color: $link-recenter;
    }
  }
}