@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
// Variables
@import 'variables';
// Fonts
//@import 'fonts';
// Animate
// Bootstrap
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
//Responsive
@import "responsive";
@import "buttons";

body {
  font-family: 'Montserrat', sans-serif;
}

header.header {
  background: $header_color;
  padding: 15px 0;

  a, .nav-link {
    font-size: .8rem;
    font-weight: $font-weight-normal;
    color: $white;
    text-decoration: none;

    &:hover {
      color: lighten($link-recenter, 35%);
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }

    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
    }
  }

  .btn {
    font-size: .7rem;
  }
}

.card {
  border: none !important;
  border-radius: 0 !important;

  img.card-img-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  .localizacao_avatar, .info {
    font-size: 0.7rem;
  }

  .localizacao_avatar {
    padding: 2px 8px;
    @extend .d-flex, .justify-content-between, .align-items-center;
    color: $header_color;
  }

  .info {
    @extend .d-flex, .justify-content-between;
    padding: 8px;
    background-color: $bottom_card;
    color: $white;
    border-radius: 0 0 10px 10px;

    .list-inline {
      margin-bottom: 0;
    }
  }

  .foto {
    .preco {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-weight: 600;
      color: $white;
      font-size: 1.2rem;
    }

    .favorito {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      padding: 1px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.46);
      text-align: center;
      color: $white;
      font-size: 1.1rem;
    }
  }

  .list-inline {
    @extend .d-flex, .justify-content-between;

    li {
      @extend .d-flex, .align-items-center;

      img {
        margin-right: 5px;
      }
    }
  }
}

.recentes {
  font-weight: 400;
  color: $link-recenter;
  text-decoration: none;

  &:hover {
    color: darken($link-recenter, 5%);
  }
}

.total_imoveis {
  font-weight: 500;
  color: $header_color;
}

.form-check-input {
  &:checked {
    background-color: $link-recenter;
    border-color: $link-recenter;
  }
}


.pagination {
  .page-item {
    &.active {
      .page-link {
        //border-radius: 5px;
        &:hover {
          background-color: lighten($link-recenter, 10%);
        }
      }
    }
  }

  .page-link {
    border: none;
    border-radius: 5px;
    padding: 0.375rem 0.65rem;
    margin: 0 0.30rem;

    &:hover {
      background-color: lighten($link-recenter, 40%);
    }
  }
}


footer {
  background-color: $link-recenter;
  color: $white;
  padding: 20px 0;

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: $font-weight-normal;
    color: $white;
    text-decoration: $link-decoration;

    &:hover {
      color: lighten($link-recenter, 35%);
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      text-decoration: $link-hover-decoration;
    }

    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
    }
  }
}

.guardar {
  font-weight: 600;
  text-decoration: none;
}

.form-switch {
  //@extend .d-flex, .align-items-center, .justify-content-between;
  @extend .clearfix, .position-relative;

  .form-check-input {
    width: 2.5rem;
    height: 1.3rem;
    margin-top: 1px;
    position: absolute;
    right: 0;
  }

  .form-check-label {
    position: absolute;
    right: 45px;
  }
}

.modal {
  .modal-dialog {
    height: 100vh !important;
    overflow: hidden !important;
    margin-top: 0 !important;
  }

  .modal-header {
    border: none !important;
    padding: .5rem 1rem;
  }

  .modal-body {
    overflow: hidden;
  }
}

#galeria {
  height: 100%;
  overflow: scroll;
}

.listing-details-desktop-component {
  overflow-y: hidden !important;
  padding-left: 0 !important;
  color: $header_color;

  .listing-rooms-list {
    .listing-room-info-container {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem 2rem;
      border-radius: 6px;
      box-shadow: 9px 7px 18px 0 rgb(0 0 0 / 6%);
      background-color: #fff;
      margin-bottom: 1rem;

      .listing-room-info-header {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.7rem;

        .listing-room-type {
          margin-right: auto;
          font-size: .9375rem;
          font-weight: 700;
          color: #003aa8;
        }

        .listing-room-info-title {
          font-size: .6875rem;
          color: #54595e;
          margin-left: 0.6rem;
        }

        .listing-room-info-value {
          font-size: .8125rem;
          margin-left: 0.6rem;
        }
      }

      .listing-room-info-description {
        font-size: .8125rem;
        line-height: 27px;
        margin-bottom: 0.4rem;
      }
    }
  }

  .details-section-title {
    font-size: .9375rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }

  .info-picture {
    min-width: 30%;
    max-width: 50%;
  }

  .small-contact-info {
    width: 100%;
    height: 63px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 28%);
    background-color: #fff;
    padding: 0.8rem 1.2rem;
    z-index: 1;

    .agent-picture {
      position: relative;
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 12px;
      margin-bottom: 0;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: top;
      }
    }

    .agent-info {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
    }

    .contact-agent-btn {
      height: 40px;
      padding: 0 2rem;
      border: 0;
      border-radius: 6px;
      color: #fff;
      background-color: #003aa8;
      font-size: .9375rem;
      font-weight: 700;
      text-align: center;
      margin-left: auto;
      white-space: nowrap;
    }
  }

  .multimedia-label {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    height: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    font-size: .9375rem;
    padding: 0 1.2rem;
  }

  .flex-container {
    display: flex;
    padding: 0 15px;

    .flex-item {
      width: 100%;
      position: relative;
      margin-bottom: 0.35rem;
      text-align: center;

      .listing-picture-big {
        width: 100%;
        position: relative;
        margin: 0;
        padding-top: 67%;
        cursor: pointer;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
          object-fit: cover;
        }
      }
    }
  }

  .flex-container-thirds {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 calc(15px - 0.35rem);
    margin: 0;
    list-style: none;

    .flex-item {
      width: 50%;
      height: auto;
      text-align: center;
      padding: 0.35rem;

      .listing-iframe {
        position: relative;
        cursor: pointer;

        .virtual-tour-info {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.2rem 0.8rem;
          border-bottom-left-radius: 17px;
          background-color: #4c555f;
          color: #fff;
          z-index: 1;
        }
      }

      .listing-picture {
        width: 100%;
        position: relative;
        padding-top: 67%;
        margin: 0;
        cursor: pointer;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
          object-fit: cover;
        }
      }
    }
  }

  .info-tabs-slider {
    position: relative;
    overflow-y: hidden;
    border-top: 1px solid #dae4ea;
    border-bottom: 1px solid #dae4ea;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-bottom: 0;
    margin-bottom: 1.7rem;

    .listing-info-tabs {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      overflow-x: scroll;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scrollbar-color: transparent transparent;
      -ms-overflow-style: none;
      scrollbar-width: none;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: .9375rem;
        color: #000;
        margin: 0 1.6rem;
        padding: 0.8rem 0;
        text-decoration: none;

        &:first-child {
          margin-left: 0;
        }

        &.active {
          color: #003aa8;
          border-bottom: 1px solid #003aa8;
        }
      }
    }

    .info-tabs-nav-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: #003aa8;

      &.info-tabs-nav-btn-left {
        left: 0;
      }

      &.info-tabs-nav-btn-right {
        right: 0;
      }
    }
  }

  .scrollable-details {
    max-height: calc(100vh - 348px);
    overflow-y: auto;
    -ms-overflow-style: none !important;
    scroll-behavior: smooth;
    scrollbar-color: #eceff2 #f6f7f9;
    scrollbar-width: thin;
    padding-right: 0.5rem;
  }

  .scrollable-pictures {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    -ms-overflow-style: none !important;
    scroll-behavior: smooth;
    scrollbar-color: #eceff2 #f6f7f9;
    scrollbar-width: thin;
  }

  .modal-close-icon {
    position: absolute;
    top: 1.2rem;
    right: -3.5rem;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    color: #4c555f;
    background-color: #fff;
    box-shadow: none;
    padding: 0;
    display: none;
  }

  .modal-dialog {
    width: 80vw;
    max-width: 80vw;
    margin-top: 0;
    margin-bottom: 0;

    .modal-content {
      background-color: #fff;
      height: 100vh;
      margin: 0 auto;
      display: block;
      overflow-y: visible;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 0;
      border-radius: 0;

      .modal-body {
        height: 100%;
        padding: 0;

        .modal-body-content {
          height: 100%;
          overflow: visible;

          .listing-article {
            display: flex;
            flex-flow: column;
            height: 100%;
          }
        }
      }

      .listing-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5rem 1rem;

        .action-buttons {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-left: auto;

          .share-btn {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 63px;
            border: 0;
            background: none;
            padding: 0;

            &::after {
              display: none;
            }
          }
        }

        .listing-header-info {
          .listing-title {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.58;
            color: $header_color;
            margin-bottom: 0.1rem;
          }

          .listing-address {
            font-size: .9375rem;
            font-weight: 400;
            color: $link-recenter;
          }
        }
      }

      .listing-details-container {
        flex: 1 1;
        padding: 0.3rem 1rem;
      }

      .listing-info {
        .listing-top-info {
          display: flex;
          flex-flow: row wrap;
          align-items: flex-end;

          .listing-price {
            font-size: 1.5rem;
            font-weight: 700;
            color: #003aa8;
            margin-right: 1rem;
          }

          .listing-title {
            font-size: .8125rem;
            font-weight: 400;
            color: #54595e;
            margin-bottom: 0.5rem;
          }
        }

        .listing-main-info {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;
          color: #4c555f;
          font-size: .9375rem;
          font-weight: 400;
          margin-bottom: 1.5rem;

          .listing-type {
            height: 40px;
            font-size: .8125rem;
            font-weight: 400;
            color: #003aa8;
            border-radius: 5px;
            border: 1px solid #003aa8;
            padding: 0 0.8rem;
            margin-right: 1rem;

            i {
              width: 9px;
              height: 9px;
              border-radius: 50%;
              margin-right: 0.3rem;
            }
          }

          .listing-type, .listing-area, .listing-bedroom, .listing-bathroom {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            margin-right: 1.3rem;
          }
        }

        .listing-details {
          table {
            width: 100%;
            tr {
              height: 2.5rem;
            }
            td {
              font-size: .8rem;
              font-weight: 400;
              color: $header_color;

              &:not(.first-column) {
                font-weight: 700;
                color: #4c555f;
                padding-right: 1rem;
                white-space: nowrap;
              }

              &.first-column {
                min-width: 8rem;
                width: 55%;
                padding-right: 0.5rem;
              }
            }
          }

          .energy-details {
            width: 95%;
            .row {
              align-items: center;
              margin-top: 1rem;

              .info-label {
                max-width: 50%;
                position: relative;
                padding-right: 15px;
                padding-left: 15px;
              }

              .info-picture {
                min-width: 30%;
                max-width: 50%;

                figure {
                  margin: 0;
                  display: flex;
                  justify-content: center;

                  img {
                    max-width: 100%;
                    max-height: 4rem;
                  }
                }
              }
            }
          }

          .location-map {
            width: 100%;
            position: relative;
            padding-top: 41%;
            margin-top: 4rem;
            margin-bottom: 3.1rem;
            cursor: pointer;
          }

          .agent-details {
            position: relative;

            .info {
              display: flex;
              align-items: flex-start;
              flex-flow: row wrap;

              .agent-picture {
                position: relative;
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 6px;
                margin-bottom: 0.5rem;
                margin-right: 1.2rem;

                img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  object-fit: cover;
                  object-position: top;
                }
              }

              .office-info {
                display: inline-block;
                flex: 1 1;
                overflow: hidden;
                margin-right: auto;

                .agent-name {
                  margin-bottom: 0.4rem;
                  margin-right: 15px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  line-height: 1;

                  a {
                    text-decoration: none;
                  }
                }

                .office-name {
                  margin-bottom: 0.4rem;
                  margin-right: 15px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;

                  a {
                    text-decoration: none;
                  }
                }
              }
            }

            .contact-info {
              display: flex;
              flex-flow: column;
              align-items: flex-start;
              justify-content: center;
              margin-bottom: 1.5rem;

              .mobile-phone, .phone-number {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: .9375rem;
                font-weight: 400;
                color: #000;
                margin-top: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.listing-details-desktop-component .listing-article:not(.sold) .figCaption, .listing-details-desktop-component .listing-article:not(.sold) .sold-label, .listing-details-desktop-component .listing-article:not(.sold) .sold-mask {
  display: none;
}

.full-height {
  height: 100%;
}

.share-btn-component.dropdown {
  position: relative;
  display: inline-block;
}